*   {   margin: 0;
        padding: 0;

}

a:link{ text-decoration: none;
        color: #fff;
}

a:active { text-decoration: none;
                color: #fff;
}

a:visited { text-decoration: none;
                color: #fff;
}

@font-face{src: url(fonts/OstrichSans-Medium.otf);
font-family: OstrichSans-Medium;  }

@font-face{src: url(fonts/OstrichSans-Black.otf);
font-family: OstrichSans-Black;  }

@font-face{src: url(fonts/Titillium-Light.otf);
font-family: Titillium-Light;  }

@font-face{src: url(fonts/Titillium-Regular.otf);
font-family: Titillium-Regular;  }

@font-face{src: url(fonts/Titillium-Semibold.otf);
font-family: Titillium-Semibold;  }

@font-face{src: url(fonts/Titillium-Black.otf);
font-family: Titillium-black;  }

@font-face{src: url(fonts/Titillium-Thin.otf);
font-family: Titillium-thin;  }

@font-face{src: url(fonts/OstrichSans-Light.otf);
font-family: OstrichSans-Light;  }

/* HOME */

* {
        margin: 0;
        padding: 0;
    }

body {
        background-color: #000;
}

.Vid-backing {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        box-sizing: border-box;
        overflow: hidden;
}

.Vid-backing video {
        position: fixed;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -50;
}

.nombre {
        font-family: OstrichSans-Black;
        font-size: 220px;
        color: #fff;
        vertical-align: middle;
        line-height: normal;
}

h3 {
        color: #fff;
        font-size: 24px;
}

h4 {    
        font-size: 30px;
        text-align: center;
        padding: 20px;
}

.centre {
        height: 450px;
        border: #fff solid 2px;
        margin: 40px;
        border-radius: 10px;
        vertical-align: middle;
        line-height: normal;
}

.graphic {
        font-size: 75px;
        color: #BF872C;
        font-family: Titillium-regular;
        vertical-align: middle;
        line-height: normal;
        line-height: 105%;
}

.digi {
        font-size: 100px;
        color: #fff;
        font-family: Titillium-regular;
        line-height: 105%;
       
}

.art {
        font-size: 165px;
        color: #BF872C;
        font-family: Titillium-thin;
        line-height: 105%;
     
}

hr {
        border: #fff 2px solid;
        max-width: 50%;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px;
}

.introduction {
        display: flex;
        justify-content: center;
        margin-top: 100px;
}

@media screen and (max-width: 780px){
        .introduction{
             margin: auto;
        }

        .left {
                margin-top: 50px;
        }
}


/*
    .video_watermark {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
    }
*/

    .mainframe {

        display: flex;
        margin: auto;
        margin-bottom: 50px;
        width: 25%;
        background-color: #000;
        border-radius: 500px;

    }

    .framework { 
            
        /*
        background-image: url(shutterstock_736870894.jpg);
        background-repeat: no-repeat;
        background-size: cover;  */
        width: 100%;
        height: 100vh;
        display: flex;
        position: fixed;
        margin: 0 auto;
        overflow: hidden;
        z-index: -20;

    }

    .mainBox {
        width: 100%;
        height: 100vh;
        z-index: 5;
        margin-right: 50px;
        display: flex;
        align-items: center;
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: -1em;
        font-size: 45px;
        font-family: titillium-regular;
        color: #fff;
        padding-top: 80px;
    }

    .contact {  
    text-align: center;
    max-width: 100%;
    clear: both;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }

    .innerContent {
    margin: auto;
    }

.contact a {
text-decoration: none;
align-content: center;
padding: 15px;
font-size: 20px;
margin: auto;
text-align: center;

        }

.contact li      {
padding: 15px;
font-family: Titillium-Regular;

}

.headers {  text-align: center;
        width: 100%;
        clear: both;
        margin-top: 30px;

    }

.headersother ul{  
    text-align: right;
    width: 95%;
    margin-top: 30px;
    margin-right: 30px;  
    }

.headers a{
    text-decoration: none;
    align-content: center;
    font-size: 20px;
    color: #fff;
}

.headersother a {
    text-decoration: none;
    align-content: top;
    font-size: 14px;
    color: #fff;
}

.headers li, .headersother li     {
    display: inline-block;
    padding: 15px;
    font-family: Titillium-Regular;
}

.headers li a:hover {  color:#BF872C;
}

.headersother li a:hover {  color:#BF872C;
}

@media screen and (max-width: 1300px){
        .introduction  {   
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                }

        .centre  {   
                display: none;
        }
                
        .graphic {
                font-size: 40px;
                color: #BF872C;
                font-family: Titillium-regular;
        }
        
        .digi {
                font-size: 50px;
                color: #fff;
                font-family: Titillium-regular;
        }
        
        .art {
                font-size: 90px;
                color: #BF872C;
                font-family: Titillium-thin;
        }

        .nombre {
                font-size: 130px;
                text-align: center;
        }

        .right {
                margin-top: 50px;
        }

        .contact{
                display: block;
        }

        }


/* DESIGN */

#mainframe      {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
}

.item {
        overflow: hidden;
        position: relative;
}

.item img   {
        width: 450px;
        justify-content: center;
        align-items: top;
        margin: 10px;
     /*   filter: grayscale(0%); */
        
}

.hideone {
        top: 0;
        left: 0;
        z-index: 5;
        color: #000;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        font-family: Titillium-thin;
        opacity: 0;
        font-size: 18px;
        width: 100%;
        height: 100%;
        z-index: 1;
        box-sizing: border-box;
        overflow: hidden;
        padding: 20px;
}

.hideone:hover {
       opacity: 1;
       transition: 1s;
       display: flex;
       color: #fff;
       justify-content: center;
        align-items: center;
       font-size: 25px;
       margin: auto;
       padding: 18px;
}

.item img:hover {
        cursor: pointer;
        
}

.portcol1     {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -10px;
}

.portcol2     {
        display: flex;
        justify-content: center;
        flex-direction: column;
     
}

.portcol3     {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -15px;
      
}

video   {
        width: 100%;
        border-radius: 5px;
}

@media screen and (max-width: 1250px){
        #mainframe  {   
                display: block;
                margin: auto;
                width: 95%;
                }

        .portcol1, .portcol2, .portcol3   {
                        display: flex;
                        flex-flow: row wrap;
                        margin-top: 0;
                        }

        .item img   {
                max-width: 95%;
                }
}


/* ABOUT */

h6      {
        font-family: Titillium-thin;
        font-size: 34px;
        color: #fff;
}

.skilled        {
        column-count: 2;
     
}

.skilled li     {
        list-style: none;
}

.blogbox {
        margin: auto;
        display: flex;
        width: 70%;
        justify-content: center;
        margin-top: 60px;
    }

.cont {
        margin: auto;
        border-radius: 5px;
        color: #fff;
}

.cont img{
        width: 400px;
        margin: 25px 15px 15px 15px;
        margin: auto;
}

@media screen and (max-width: 1300px){
        .cont img  {   
                max-width: 70%;
                display: flex;
                justify-content: center;
                align-content: center;
                margin-top: 50px;
                }
        }

.cont2 {
        font-family: Titillium-thin;
        font-size: 30px;
        color: #fff;
        text-align: center;
        align-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
}

.cont2 a:hover{
        color: #BF872C;
}

@media screen and (max-width: 1300px){
        .blogbox  {   
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;
                }
        
        .cont        {
                justify-content: center;
                order: 1;
                margin: 15px;
    }

        .cont img{
                justify-content: center;
                width: 90%;
}
        .cont2       {
                justify-content: center;
                width: 90%;
    }
}

@media screen and (max-width: 780px){
        .cont2  {   
                font-size: 28px;
        }

        .skilled {
                column-count: 1;
        }
        }




/* CONTACT */

form {
        display: flex;
        display: block;
        justify-content: center;
}
