@font-face{src: url(fonts/Allrounder/AllrounderMonumentTest-Medium.otf);
    font-family: allRounderMedium;  }

@font-face{src: url(fonts/Allrounder/AllrounderMonumentTest-Regular.otf);
    font-family: allRounderRegular;  }

@font-face{src: url(fonts/Anderson/AndersonGrotesk-Ultrabold.otf);
    font-family: andersonUltraBold;  }

@font-face{src: url(fonts//Anderson/AndersonGrotesk-Light.otf);
    font-family: andersonLight;  }

@font-face{src: url(fonts/Anderson/AndersonGrotesk-Bold.otf);
    font-family: andersonBold;  }

@font-face{src: url(fonts/Anderson/AndersonGrotesk-LightOblique.otf);
    font-family: andersonLightOblique;  }


#contentTwo,  #contentOne, #contentThree, #contentThree, #contentFour, #contentFive,
#contentSix, #contentSeven, #contentEight, #contentNine, #contentTen, #contentEleven,
#contentTwelve, #contentThirteen, #contentFourteen, #contentFifteen  { 
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    max-height: 100%;
    overflow-y: scroll;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 50;
    backdrop-filter: blur(10px);
}

#contentTwo.show, #contentOne.show, #contentThree.show, #contentFour.show,#contentFive.show, #contentSix.show,
#contentSeven.show, #contentEight.show, #contentNine.show, #contentTen.show, #contentEleven.show, #contentTwelve.show, 
#contentThirteen.show, #contentFourteen.show, #contentFifteen.show {
    pointer-events: auto;
    opacity: 1;
}

.displayBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(24, 26, 28, 0.7);
    backdrop-filter: blur(15px);
    border: solid 1px #fff;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 15px;
    width: 800px; 
    max-width: 100%; /* Could be more or less, depending on screen size */
    animation-duration: 2s;
    overflow-y: auto;
    z-index: 50;
    transition: ease 1s;
}

.displayBox img {
    max-width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.displayBox {
    display: block;
}

.displayBox video {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.displayBox iframe {
    max-width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

#closeModalOne, #closeModalTwo, #closeModalThree, #closeModalFour, #closeModalFive, #closeModalSix, #closeModalSeven, #closeModalEight,
#closeModalNine, #closeModalTen, #closeModalEleven, #closeModalTwelve, #closeModalEleven, #closeModalTwelve, #closeModalThirteen, #closeModalFourteen, #closeModalFifteen {
    cursor: pointer;
    font-family: allRounderRegular;
    color: #fff;
    font-size: 2rem;
    border: #fff 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    position: absolute;
    top: 15px;
    left: 92%;
}

.contentheaders {
    font-family: allRounderRegular;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 10px;
    
}

.copy {
    font-family: andersonBold;;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
    max-width: 90%;
}

.tools {
    font-family: andersonUltraBold;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 10px;
    width: 90%;
}

@media only screen and (max-width: 960px) {

    .displayBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 10px;
        width: 350px; 
        max-width: 100%; /* Could be more or less, depending on screen size */
    }
    
    .displayBox img {
        max-width: 100%;
        margin: auto;
        justify-content: center;
        margin-bottom: 10px;
    }

    #closeModalOne, #closeModalTwo, #closeModalThree, #closeModalFour, #closeModalFive, #closeModalSix, #closeModalSeven, #closeModalEight,
    #closeModalNine, #closeModalTen, #closeModalEleven, #closeModalTwelve, #closeModalThirteen, #closeModalFourteen, #closeModalFifteen {
        cursor: pointer;
        font-family: allRounderRegular;
        color: #fff;
        font-size: 1.5rem;
        border: #fff 0.5px solid;
        padding: 0 10px 5px 10px;
        border-radius: 50px;
        left: 85%;
    }

    .contentheaders {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-bottom: 10px;
        
    }
    
    .copy {
        font-family: andersonBold;;
        color: #fff;
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 10px;
    }
    
    .tools {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

}